<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="pull-left">
      <img src="/yabumi-slogo-b-transparent.png" style="width: 30px; margin-top:-0.5em;" />
      <label style="color: #ffffff;margin-top: 0.5em;font-size: 1.5em;">YABUMI</label>
    </div>
    <div class="pull-right">
      <label style="color: #ffffff; margin-top: 15px; word-wrap: break-word; word-break: break-all;"><%= respondentName %> 様</label>
    </div>
  </div>
</nav>
