<% if(answeredFlg){ %>
<fieldset disabled>
<% }else{ %>
<fieldset >
<% } %>
<div class="form-group">
    <div >
        <textarea placeholder="アンケートの回答を入力" rows="4" class="form-control" style="resize: vertical;" name="<%= 'txtArea_' + record.sfid %>" id="<%= 'txtArea_' + record.sfid %>"><%= ansMap[record.sfid] %></textarea>
    </div>
</div>
</fieldset>